.contact {
    &-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__sort {
            display: flex;
            align-items: center;
            select {
                padding: 10px;
                background: #fff;
                border: 1px solid #fafafa;
            }
            p {
                margin-right: 15px;
            }
        }
    }
}

.contact-block {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    background: #fff;
    box-shadow: 0px 2px 8px rgba(134, 140, 144, 0.05);
    border-radius: 10px;
    &__wrapper {
        &.right {
            display: flex;
            align-items: center;
            text-align: center;
            p {
                font-size: 32px;
                color: #2c2c2c;
            }
            span {
                color: #2c2c2c;
            }
        }
        &__item {
            padding: 13px;
            &:first-child {
                border-right: 1px solid #f3f3f3;
            }
        }
        span {
            color: #06060771;
        }
        a {
            margin: 8px 0px;
            cursor: pointer;
            display: block;
            color: #5ba4d7;
            &:hover {
                text-decoration: underline;
            }
        }
        p {
            span {
                color: #2c2c2c;
            }
        }
    }
}

.contact-popup {
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.397);
    width: 100%;
    height: 100%;
    &__block {
        padding: 24px;
        max-width: 644px;
        width: 100%;
        border-radius: 10px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        background: #fff;
        &__head {
            padding-bottom: 16px;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #f3f3f3;
            img {
                cursor: pointer;
            }
        }
        &__foot {
            margin-top: 24px;
        }
        &__sect {
            margin-top: 24px;
            span {
                color: #3b8378;
            }
            select {
                border-radius: 10px;
                width: 100%;
                border: 1px solid #f3f3f3;
                padding: 10px;
                padding-right: 0;
                background: #fff;
            }
            input {
                border-radius: 10px;
                width: 98%;
                border: 1px solid #f3f3f3;
                padding: 10px;
                padding-right: 0;
            }
        }
    }
}

.addContact {
    &__wrapper {
        margin: 32px 0px 24px 0px;
        background: #fff;
        border-radius: 10px;
        padding: 24px;
        &__item {
            display: flex;
            div:last-child {
                label {
                    display: block;
                    margin-top: 27px;
                    position: relative;
                    p {
                        display: flex;
                        align-items: center;
                        img {
                            margin-right: 10px;
                        }
                    }
                    textarea {
                        padding: 10px;
                        max-width: 560px;
                        width: 100%;
                        resize: none;
                        border-radius: 4px;
                        border: 1px solid #e5e5e5;
                    }
                    input {
                        top: 0;
                        left: 0;
                        position: absolute;
                        opacity: 0;
                        width: 1px;
                    }
                }
                p {
                    color: #3b8378;
                    cursor: pointer;
                }
            }
            div:first-child {
                margin-right: 27px;
                p {
                    margin-top: 50px;
                }
            }
            span {
                color: #5ba4d7;
                display: block;
            }
        }
    }
    &__head {
        display: flex;
        align-items: center;
        a {
            cursor: pointer;
            border-radius: 100px;
            display: block;
            padding: 16px 40px;
            &.active {
                background: #5ba4d7;
                color: #fff;
            }
            &:last-child {
                margin-left: 15px;
            }
        }
    }
}
.create-mail {
    a {
        display: flex;
        align-items: center;
        background: #fff;
        color: #3b8378;
        p {
            color: #3b8378;
        }
    }
}

.general__pretitle {
    margin-bottom: 28px;
    p {
        color: #3b8378;
        span {
            font-weight: normal;
            margin-left: 24px;
            color: #06060780;
        }
    }
}

.contact-table {
    background: #fff;
    border-radius: 10px;
    padding: 24px 30px;
    box-shadow: 0px 2px 8px rgba(134, 140, 144, 0.05);
    &__pagination {
        margin-top: 43px;
        display: flex;
        align-items: center;
        span {
            text-align: center;
            width: 20px;
            height: 30px;
            line-height: 30px;
            padding: 6px 12px;
            border-radius: 93px;
            margin-left: 4px;
            &.active {
                background: #5ba4d7;
                color: #fff;
            }
        }
    }
    &__modal {
        position: absolute;
        right: 0;
        top: -38px;
        width: 200px;
        height: 50px;
        background: #3b8378;
        color: #fff;
        padding: 10px;
        border-radius: 4px;
        box-shadow: 0px 2px 8px rgba(134, 140, 144, 0.05);
        &__close {
            font-size: 20px;
            font-weight: 200;
            cursor: pointer;
            position: absolute;
            right: 5px;
            top: 0;
        }
    }
    &__wrapper {
        position: relative;
        margin-top: 28px;
        ul {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 0.1fr;
            border-bottom: 1px solid #00000030;
            padding: 8px 8px;
            li {
                &:last-child {
                    cursor: pointer;
                    font-size: 30px;
                    margin-top: -6px;
                    color: #323441;
                }
                &:first-child {
                    color: #3b8378;
                }
                list-style: none;
            }
        }
    }
    &__btn {
        display: block;
        color: #3b8378;
        text-align: right;
        padding-right: 15px;
    }
}


.send-name{
    input[type=checkbox]:checked{
        background: #3b8378;
    }
    input[type=checkbox]{
        margin-top: 6px;
        padding: 0px 5px;
        margin-right: 15px;
    }
    input[type=checkbox]::before{
        border-color: #fff;
        top: 1.5px;
    }
}


@media screen and (max-width: 992px) {
    .addContact__wrapper__item div:last-child label textarea {
        max-width: 300px;
    }
}

@media screen and (max-width: 768px) {
    .contact-table__wrapper ul {
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 600px) {
    .contact-head__sort {
        text-align: center;
        display: block;
    }
    .addContact__wrapper__item {
        display: block;
    }
}

@media screen and (max-width: 500px) {
    .contact-head__sort {
        margin-bottom: 15px;
    }
    .contact-block {
        display: block;
        text-align: center;
    }
    .contact-head {
        display: block;
    }
    .contact-block__wrapper:first-child {
        padding-bottom: 10px;
        border-bottom: 1px solid #f3f3f3;
    }
    .contact-block__wrapper.right {
        justify-content: center;
    }
}
