.privacy_article {
    margin-top: 30px;

    h5 {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    h6 {
        font-size: 18px;
        font-weight: bold;
        margin: 10px 0;
    }

    ul {
        li {
            list-style: none;
        }
    }
}

.base {
    &__wrap {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;

        .button_green {
            margin: 0 15px;
            margin-bottom: 15px;
        }
    }
}