.privacy-article {
    margin-top: 20px;
    
    h6 {
        font-size: 18px;
        font-weight: bold;
    }

    p, ul {
        margin-top: 10px;
    }

    ul {
        li {
            list-style-type: none;
        }
    }
}