.tariffs .mail__time-sent p {
    margin: 0;
}

.tariffs .mail__time-sent {
    margin-bottom: 46px;
}

.top_up_account {
    display: flex;
    .tariff-bay {
        display: inherit;
        margin-left: 0;
        margin-right: 0;
        height: auto;
        margin-top: 0;
        width: 170px;
    }
    .button_rb_inner {
        padding: 19px 46px;
        width: 150px;
        background: none;
        color: #fff;
    }
    .button_white {
        margin-left: 32px;
    }
}

.tariff {
    max-width: 456px;
    width: calc(50% - 16px);
    height: 452px;
    box-shadow: $shadow;
    border-radius: 10px;
    padding: 24px 24px 35px 24px;
    margin: 0 16px 24px 16px;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    &:hover {
        transform: scale(1.01);
        box-shadow: 0px 2px 15px rgba(89, 93, 95, 0.5);
    }
    & .button_rb {
        margin-top: 0;
    }
    &-wrap {
        display: flex;
        justify-content: flex-start;
    }
    &-fs {
        margin-left: 0;
        background: $white;
        justify-content: space-between;
    }
    &-sec {
        margin-right: 0;
        background: $green;
        & * {
            color: $white !important;
        }
        & .tariff-bay button p {
            line-height: 40px;
            // background: $white !important;
            color: $green !important;
            &:hover {
                color: $white !important;
            }
        }
    }
    &-title {
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 29px;
        letter-spacing: 0.25px;
        color: $green;
        margin-bottom: 8px;
    }
    &-subtitle {
        font-family: "Gilroy";
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 29px;
        letter-spacing: 0.25px;
        color: $green;
    }
    &-offer {
        margin-top: 54px;
        padding: 0;
        list-style: none;
        margin-left: 0;
        & li {
            font-family: "Gilroy";
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            margin-bottom: 8px;
            letter-spacing: 0.25px;
            color: $black;
            &::before {
                content: "•";
                padding-right: 10px;
            }
        }
    }
    &-price {
        display: block;
        margin-bottom: 27px;
        font-family: "Gilroy";
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 29px;
        text-align: center;
        letter-spacing: 0.25px;
        color: $green;
    }
    &-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &-bay {
        display: block;
        width: 292px;
        height: 40px;
        background: $green;
        border-radius: 100px;
        color: $white;
        text-align: center;
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 40px;
        letter-spacing: 0.25px;
        text-decoration: none !important;
        margin-left: auto;
        margin-right: auto;
    }
    & .button_rb_inner {
        width: 292px;
        padding: 0 !important;
    }
    & .button_green_inner {
        width: 292px;
        padding: 0;
        &:hover p {
            color: $white !important;
        }
    }
    & .rb_button_text_container {
        line-height: 40px;
    }
    &-slider {
        height: 33px;
        margin-top: 29px;
        margin-bottom: 20px;
        position: relative;
        display: flex;
        justify-content: space-between;
        // position: absolute;
        left: 0;
        top: 0;
        width: calc(100% - 16px);
        height: 6px;
        background: #c4c4c4;
        z-index: 9;
        cursor: pointer;
        label {
            position: absolute;
            text-align: center;
        }
        &__item {
            position: absolute;
        }
        &-val {
            position: relative;
            display: flex;
            width: calc(100% - 16px);
            margin-top: -32px;
        }
        &__point,
        & .ui-slider-handle {
            display: block;
            border-radius: 50%;
            top: -6px;
            position: absolute;
            width: 16px;
            height: 16px;
            box-shadow: $shadow;
            transition: 0.3s;
            // background: #C4C4C4;
            background: linear-gradient( 141.16deg, #d6e9f5 -0.37%, #add2eb 96.94%);
            border: none;
            z-index: 9;
            cursor: pointer;
        }
        &__point {
            background: linear-gradient( 141.16deg, #c4c4c4 -0.37%, #c4c4c4 96.94%);
            width: 16px;
            height: 16px;
            position: static;
        }
        &__text {
            display: block;
            // padding-top: 19px;
            font-family: "Gilroy";
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.25px;
            color: $white;
            position: absolute;
            bottom: -30px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &-check {
        display: flex;
        align-items: center;
        margin-top: 28px;
        & .check {
            display: block;
            width: 12px;
            height: 12px;
            border: 2px solid $white;
        }
        &__text {
            font-family: "Gilroy";
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.25px;
            color: $white;
            padding-left: 12px;
        }
        & input {
            position: absolute;
            z-index: -999;
            width: 0.00001px;
            height: 0.00001px;
            opacity: 1;
            visibility: hidden;
            &:checked+.check {
                background-size: contain;
                background: url(../images/check.svg) no-repeat center center;
            }
        }
    }
    &-form {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.general__title.sec {
    margin-top: 0;
    margin-bottom: 0;
}

.tariff_component_btn_payment {
    display: flex;
    align-items: flex-start;
    .tariff-bay {
        background: none;
    }
    .button_rb {
        margin-left: 0;
        margin-right: 0;
        box-shadow: none;
        &_inner {
            width: 100%;
            background-color: $green;
            color: #fff;
        }
    }
}

.follows {
    &-wrap {
        background: #ffffff;
        box-shadow: $shadow;
        border-radius: 10px;
        display: flex;
        padding: 34px;
        margin-top: 24px;
        flex-direction: column;
    }
    &-row {
        display: flex;
        padding-top: 10px;
        padding-bottom: 9px;
        &.bb-1 {
            border-bottom: 1px solid #e5e5e5;
        }
        &:first-child {
            padding-top: 0;
        }
        &:last-child {
            border-bottom: none;
            padding-bottom: 0;
        }
        .green {
            color: #68b781;
        }
    }
    &-left {
        width: 30%;
    }
    &-right {
        width: 70%;
    }
    &-text {
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.25px;
        color: $black;
    }
    &-top {
        width: 100%;
        margin-bottom: 26px;
        display: flex;
        justify-content: space-between;
    }
    &-title {
        display: flex;
        flex-direction: column;
        &__hero {
            display: block;
            font-family: "Gilroy";
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.25px;
            color: $black;
            margin-bottom: 9px;
        }
        &__subtitle {
            display: block;
            font-family: Gilroy;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.25px;
            color: #979797;
        }
    }
    &-change__tariff {
        display: block;
        font-family: Gilroy;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        height: 17px;
        letter-spacing: 0.25px;
        text-decoration: none !important;
        color: $green;
        position: relative;
        &::after {
            position: absolute;
            content: "";
            height: 1px;
            width: 100%;
            display: block;
            background: $green;
            bottom: 0;
            // right: 0;
            left: 0;
            transition: 0.3s;
        }
        &:hover::after {
            left: auto;
            right: 0;
            width: 0;
        }
    }
}

.tariffs-fake {
    .subscribe-info {
        padding-top: 32px;
        span {
            color: #3b8378;
            margin-left: 10px;
        }
    }
}

.tariffs-block {
    background: #ffffff;
    box-shadow: 0px 2px 8px rgba(134, 140, 144, 0.05);
    border-radius: 10px;
    padding: 24px;
    .tariffs-table {
        &__wrapper {
            &-head {
                font-weight: 700;
                margin-top: 24px;
            }
            ul {
                align-items: center;
                border-bottom: 1px solid #e5e5e5;
                text-align: center;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 0.1fr;
                a {
                    color: #3b8378;
                    margin-left: 10px;
                }
                span {
                    display: none;
                }
                div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    p {
                        text-decoration: line-through;
                    }
                }
                li {
                    padding: 10px;
                    &:first-child {
                        text-align: left;
                    }
                    list-style: none;
                }
            }
        }
        &__title {
            span {
                font-weight: bold;
            }
        }
    }
}

@media (max-width: 786px) {
    .tariff-wrap {
        flex-direction: column;
    }
    .tariff {
        width: 100%;
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
        box-sizing: border-box;
    }
    .follows-left,
    .follows-right {
        width: 50%;
    }
}

@media (max-width: 657px) {
    .follows-row {
        flex-wrap: wrap;
    }
    .follows-left,
    .follows-right {
        width: 100%;
    }
    .follows-top {
        flex-direction: column;
    }
    .follows-change__tariff {
        margin-top: 10px;
        max-width: max-content;
    }
}

@media (max-width: 546px) {
    .tariff-bay {
        max-width: 292px;
        width: 100%;
    }
    .tariff {
        padding: 15px;
    }
    .follows-wrap {
        padding: 15px;
    }
}