.section2__itemsWrapper__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.verify {
    padding: 100px 0 200px 0;
    text-align: center;
}

.section2 {
    padding-bottom: 80px;
}

.section2__itemsWrapper__item svg {
    margin-bottom: 60px;
}

.section2__itemsWrapper__item:hover {
    transform: translateY(-10px);
    transition: all .3s ease-in-out;
}

input,
button {
    outline: none;
}

button {
    cursor: pointer;
}

.section5__wrapper__item {
    cursor: pointer;
}

.first {
    transition: all .3s ease-in-out;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
}

.first:hover {
    transition: all .3s ease-in-out;
    border-top: 1px solid #E4E3E8;
    border-left: 1px solid #E4E3E8;
}

.second {
    transition: all .3s ease-in-out;
    border-top: 1px solid transparent;
}

.second:hover {
    transition: all .3s ease-in-out;
    border-top: 1px solid #E4E3E8;
}

.thirth {
    transition: all .3s ease-in-out;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
}

.thirth:hover {
    transition: all .3s ease-in-out;
    border-top: 1px solid #E4E3E8;
    border-right: 1px solid #E4E3E8;
}

.fourth {
    transition: all .3s ease-in-out;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
}

.fourth:hover {
    transition: all .3s ease-in-out;
    border-bottom: 1px solid #E4E3E8;
    border-left: 1px solid #E4E3E8;
}

.five {
    transition: all .3s ease-in-out;
    border-bottom: 1px solid transparent;
}

.five:hover {
    transition: all .3s ease-in-out;
    border-bottom: 1px solid #E4E3E8;
}

.six {
    transition: all .3s ease-in-out;
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
}

.six:hover {
    transition: all .3s ease-in-out;
    border-bottom: 1px solid #E4E3E8;
    border-right: 1px solid #E4E3E8;
}

.faq {
    margin-top: 20px;
    &__item {
        cursor: pointer;
        padding-bottom: 12px;
        margin-bottom: 18px;
        width: 100%;
        border-bottom: 1px solid #D6D6DC;
        position: relative;

        &::after {
           
        }

        p {
            display: none;
        }
    }
}
.faq .ttlhfaq{

}
.faq .ttlhfaq:after{
 content: '';
            background-image: url('../images/arrow_circle.svg');
            background-repeat: no-repeat;
            width: 32px;
            height: 32px;
            position: absolute;
            right: 0;
            top: -5px;
            transition: all .3s ease-in-out;
}

.faq__item.active .ttlhfaq {
    &::after {
        transition: all .3s ease-in-out;
        transform: rotate(180deg);
    }
}

//.blocker {
//    z-index: 10;
//}

.modal {
    padding: 15px 30px 40px 30px;

    &__inner {
        display: flex;
        flex-direction: column;
    }

    input {
        border: 1px solid #e5e5e5;
        border-radius: 4px;
        padding: 10px;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0.25px;
        color: #323441;
        transition: all 0.3s ease-in-out;
        margin-bottom: 20px;

        &::placeholder {
            font-weight: 500;
            font-size: 14px;
            line-height: 150%;
            letter-spacing: 0.25px;
            color: #323441;
        }

        &:hover {
            transition: all 0.3s ease-in-out;
            border: 1px solid #3b8378;

            &::placeholder {
                color: #3b8378;
            }
        }
    }

    .header__wrapper__links_reg {
        margin: 0 auto;
        padding: 0 20px;
    }

    textarea {
        outline: none;
        border: 1px solid #e5e5e5;
        border-radius: 4px;
        padding: 10px;
        resize: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0.25px;
        color: #323441;
        transition: all 0.3s ease-in-out;
        margin-bottom: 20px;

        &::placeholder {
            font-weight: 500;
            font-size: 14px;
            line-height: 150%;
            letter-spacing: 0.25px;
            color: #323441;
        }

        &:hover {
            transition: all 0.3s ease-in-out;
            border: 1px solid #3b8378;

            &::placeholder {
                color: #3b8378;
            }
        }
    }
}

.modal a.close-modal {
    top: 12px;
    right: 12px;
}

.section5 {
    padding-bottom: 130px;
}

// Lang toggle
.lang-toggle {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    img {
        object-fit: contain;
        width: 12px;
        height: 16px;
        transform: rotate(90deg);
        margin-left: 8px;
        transition: all .3s ease-in-out;
    }
    ul {
        display: none;
        position: absolute;
        top: 26px;
        left: -4px;
        margin: 0;
        padding: 0;
        li {
            list-style: none;
            background-color: #fff;
            padding: 8px 18px;
            transition: all .3s ease-in-out;
            cursor: pointer;
            &:hover {
                background-color: #3B8378;
                color: #ffffff;
                transition: all .3s ease-in-out;
            }
        }
    }
}
.lang-toggle.active {
    img {
        transition: all .3s ease-in-out;
        transform: rotate(270deg);
    }
}

.mymailing {
    .select2-selection__rendered {
        padding: 0 24px 8px 8px;
        color: black;
    }
}

.general__stats_right-top {
    padding: 15px;
}

@media (max-width: 786px) {

.ttlhfaq {
    padding-right: 40px;
}

}